p {
    font-family: "Times New Roman", Times, serif;
}

h3 {
    font-family: "Impact", sans-serif;
    background-color: #F0F8FF;
}

.title {
    background: url("mushrooms-4434962_1280.jpg");
    min-height: 100vh; /* Use viewport height for minimum height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px; 
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}
