p{ font-family: times new roman; }
h3 {font-family: impact; background-color: #F0F8FF;}

#title {    border: white;
/*             padding: 10px;
            margin: 10px;
            height: 800px;
            width: 1500px; */
/*             color: black; */
            background-image: url("https://cdn.pixabay.com/photo/2018/09/06/19/53/mushrooms-3659165_640.jpg");
            min-height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-opacity: 10%;
            
            }
/* #title_pic {
            height: 100%; width: 100%; opacity: 30%
} */
