p{ font-family: times new roman; background-color: #f5f5f5;}
h3 {font-family: impact; background-color: #F0F8FF;}

#Purple2 { border: Blue dashed;
            padding: 20px;
            margin: 20px;
            height: 550px;
            width: 400px;
            background-color: #ADD8E6;
            color: black;
            float: right 
            }
    #Purple2-img { width: 97%; height: 45%;
  }
    #Purple1-img { width: 92%; height: 45%; padding: 10px;}
    
 #Stoney { border: Blue dashed;
            padding: 20px;
            margin: 20px;
            height: 550px;
            width: 400px;
            background-color: #ADD8E6;
            color: black;
            float: right 
            }
    #Stoney1-img { width: 92%; height: 45%; padding: 10px}
    #Stoney2-img { width: 97%; height: 45%;}

    
    th, td { background-color: #edfee2;
       padding: 3px   }

      
